body {
  border: 2px solid green;
  height: 500px;

}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  border: 2px dashed purple;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.seat {
  font-size: 30px;
  color: blue;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
  padding: 30px;
  margin: 20px;
  background-color: #fec0cb;
}

